arrow==0.10.0
click==6.7
fanfou==0.1.1
Flask==1.0
Flask-Login==0.4.0
Flask-WTF==0.14.2
gevent==1.2.1
gevent-websocket==0.10.1
greenlet==0.4.12
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.9.5
leancloud-sdk==1.10.0
MarkupSafe==1.0
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
Werkzeug==0.12
WTForms==2.1
requests_oauthlib
