{% extends "base.html" %}
{% block title %}饭否T恤投票{% endblock %}
{% block content %}
<nav class="light-blue nav-extended">
    <div class="container">

            <div class="nav-wrapper">
                <div class="brand-logo">饭否 T&nbsp;恤投票</div>
                <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#!">@{{ nickname or '匿名用户' }}</a></li>
                    <li><a href="/logout">登出</a></li>
                </ul>
                <ul class="side-nav" id="mobile-nav">
                    <li><a href="#!">@{{ nickname or '匿名用户' }}</a></li>
                    <li><a href="/logout">登出</a></li>
                </ul>
            </div>
            <div class="nav-content">
              <ul class="tabs tabs-transparent">
                  <li class="tab"><a{% if list_type == 'index' %} class="active"{% endif %} href="/" target="_self">投票</a></li>
                  <li class="tab"><a{% if list_type == 'rank' %} class="active"{% endif %} href="/rank" target="_self">排名</a></li>
              </ul>
            </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% for i in data %}
        <div class="col s12 m6 l6">
            <a href="#modal-{{ loop.index0 }}">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ i['img'][0] }}@373w_413h_4e" alt="{{ i['name'] }}">
                        <div class="card-check">
                            {% if list_type == 'index' %}
                            <a class="waves-effect waves-light btn light-blue darken-2 btn-square btn-vote" href="#!" data-product-id="{{ i['id'] }}">
                                <i class="material-icons">{% if voted[i['id']] %}remove{% else %}add{% endif %}</i>
                            </a>
                            {% else %}
                            <span class="badge new light-blue darken-2" data-badge-caption="票">
                                {{ i['vote'] or '0' }}
                            </span>
                            {% endif %}
                        </div>
                        <span class="card-name">{{ i['name'] }}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% for i in data %}
<div id="modal-{{ loop.index0 }}" class="modal">
    <div class="carousel-row">
        {% for img in i['img'] %}
        <a href="{{ img }}" target="_blank"><img src="{{ img }}"></a>
        {% endfor %}
    </div>
    <div class="modal-content">
        {% if list_type == 'index' %}
        <a class="btn-floating btn-vote btn-large btn-carousel-middle waves-effect waves-light light-blue" data-product-id="{{ i['id'] }}">
            <i class="material-icons">{% if voted[i['id']] %}remove{% else %}add{% endif %}</i>
        </a>
        {% else %}
        <span class="badge new light-blue darken-2" data-badge-caption="票">
            {{ i['vote'] or '0' }}
        </span>
        {% endif %}
        <h4>{{ i['name'] }}</h4>
        <p>{{ i['desc'] }}</p>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
        window.voted = {{ voted|tojson }};

        $(".btn-vote").click(function(){
            var product_id = $(this).data("product-id");
            var result = voted[product_id]
            var action = result ? 'undo' : 'vote';

            $.ajax("/products/" + product_id +  "/" + action, {method: "POST"})
             .done(function(data){
                 if (data.success) {
                     window.voted[product_id] = !result;
                     $(".btn-vote[data-product-id=" + product_id + "]").find("i").text(voted[product_id] ? "remove" : "add");
                     Materialize.toast(!result ? '投票成功！' : '撤票成功！', 4000);
                 } else {
                     Materialize.toast((!result ? '投票失败：' : '撤票失败：') + data.error, 4000, "red darken-4");
                 }
             })
             .fail(function(xhr, text){
                Materialize.toast((!result ? '投票失败：' : '撤票失败：') + text, 4000, "red darken-4");
             });
        });
    });
</script>
{% endblock %}
