{% extends "base.html" %}
{% block title %}饭否 10 周年投票{% endblock %}
{% block content %}
<div class="index-body">
    <nav class="index-hero light-blue">
        <div>
            饭否十周年 T 恤投票
        </div>
    </nav>
    <div class="index-content container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a href="/vote" class="btn btn-large light-blue start-button">通过饭否登录</a></p>
    </div>
</div>
{% endblock %}
